@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

body {
    font-family: Nunito, sans-serif;
    font-size: 24px;
}

p {
    background-color: black;
    color: gray;
    padding: 20px;
    border-radius: 20px;
    margin-top: 200px;
    letter-spacing: 4px;
    font-weight: bold;
}

[data-incorrect] {
    color: orangered;
}

[data-passed] {
    color: white;
}

.current {
    background-color: orange;
    color: black;
    border-radius: 5px;
}
