body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    min-width: 400px;
    background-color: #eee;
    background-image: url(https://images.unsplash.com/photo-1436491865332-7a61a109cc05?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhbmV8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    background-color: hsl(240, 70%, 50%);
    color: white;
    height: 80px;
    min-width: 400px;
}

#company-name {
    margin-block: 0;
    margin-left: 20px;
    font-size: 40px;
    text-shadow: 5px 5px 1px black;
    letter-spacing: 5px;
}

#company-description {
    margin-block: 0;
    text-shadow: 5px 5px 1px black;
    margin-left: 40px;
}

.container {
    border-radius: 10px;    
    padding-block: 10px;
    padding-inline: 20px;
    text-align: center;
    width: 20%;
    min-width: 200px;
    color: #EEE;
    height: 50vh;
    margin-inline: auto;
    margin-top: 10%;
    background-color: gray;
    opacity: 0.7;
}

label {
    display: block;
    margin-bottom: 20px;
}

input { 
    margin-top: 10px;
    opacity: 1;
}

.submit {
    opacity: 1;
    
}